@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Shrikhand&display=swap");
@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.65;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  }
}
.fade-in {
  transform-origin: top;
  animation: fade-in 1.5s forwards;
}
.fade-in--second {
  animation: fade-in 2s 400ms both;
}
.fade-in--third {
  animation: fade-in 2s 800ms both;
}

@keyframes appearFromBottom {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes colorChange {
  0%, 100% {
    color: #9356DC;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 2s forwards;
  animation-delay: 2s;
}
.loader__icon {
  position: relative;
  font-size: 4.5em;
  animation: colorChange 1s infinite alternate;
  transform: rotate(-20deg);
  margin-top: -15vh;
}
.loader__text-container {
  position: relative;
  font-family: "Shrikhand", sans-serif;
  color: #9356DC; /* Replace with your actual color variable */
  text-shadow: 3px 3px #FF79DA; /* Replace with your actual color variable */
}
.loader__text-container::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  height: 0.3rem;
  width: 0;
  background: #99E2D0; /* Replace with your actual color variable */
  animation: loading 1s forwards;
  animation-delay: 1s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 0 0.8125rem 0;
}
.header__logo {
  width: 12.5rem;
  height: 1.875rem;
  padding: 0 1.1875rem 0 1rem;
}
.header__nav {
  position: absolute;
  left: 1.0625rem;
  transition: transform 0.2s;
}
.header__nav:hover {
  transform: scale(1.2);
}
.header__nav i {
  color: black;
  font-size: 1.5625rem;
}
@media screen and (min-width: 767px) {
  .header {
    padding: 1.375rem 0 1.40625rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 1.875rem 0 2rem 0;
  }
}

.footer {
  background-color: #353535;
  padding: 1.375rem 1.5625rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1.875rem 1.5625rem;
    height: 7.125rem;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer__content {
    flex-direction: row-reverse;
  }
}
.footer__logo {
  width: 8.5625rem;
  height: 1.6875rem;
}
.footer__logo img {
  width: 6.5625rem;
  height: 1.375rem;
  filter: brightness(0) invert(1);
}
.footer__links {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .footer__links {
    align-items: center;
  }
}
.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    gap: 0.9375rem;
  }
}
.footer__item:nth-child(4) {
  width: 8.125rem;
}
.footer__item a {
  display: flex;
  color: white;
  align-items: center;
}
.footer__item:hover {
  text-decoration: underline;
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer__item:nth-child(3) {
    margin-left: 1.25rem;
  }
}
.footer__icon {
  margin-right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.625rem;
  height: 0.625rem;
  font-size: 0.9em;
}

.location_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  gap: 1.0625rem;
  background-color: #e7e7e7;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.explorer-restaurants {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #F6F6F6;
}
.explorer-restaurants__title {
  padding: 1.875rem 3.625rem 0.625rem 2.625rem;
}
@media screen and (min-width: 1024px) {
  .explorer-restaurants__title {
    font-size: 2.5rem;
  }
}
.explorer-restaurants__text {
  padding: 0 2.125rem 0 1.625rem;
  font-size: 1.125rem;
  font-weight: 300;
}
.explorer-restaurants__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.5625rem;
  padding: 0.8125rem 1rem;
  height: 3.125rem;
  color: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
  transition: background-color 0.7s, box-shadow 0.7s;
  width: 13.625rem;
  margin: 1.25rem 0 3.125rem 0;
}
@media screen and (min-width: 1024px) {
  .explorer-restaurants__btn {
    margin: 1.125rem 0 1.875rem 0;
  }
}
.explorer-restaurants__btn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.45);
}

.functioning {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media screen and (min-width: 1024px) {
  .functioning {
    margin: 3.125rem auto;
  }
}
.functioning h2 {
  margin: 3rem 0 1.625rem 0;
}
@media screen and (min-width: 1024px) {
  .functioning h2 {
    margin-bottom: 1.5625rem;
  }
}
.functioning__steps {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  margin-bottom: 4.25rem;
}
@media screen and (min-width: 1024px) {
  .functioning__steps {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3.125rem;
    gap: 2.28125rem;
  }
}
.functioning__cards {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.25rem;
  margin-left: 0.78125rem;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .functioning__cards {
    margin: 0;
  }
}
.functioning__cards--number {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 0.875rem;
}
.functioning__cards--icon {
  margin-left: 2.154375rem;
  color: #7E7E7E;
  font-size: 1.2rem;
}
.functioning__cards--icolor {
  color: #9356DC;
}
.functioning__cards p {
  margin: 1.625rem 2.375rem 1.625rem 1.6875rem;
}

.restaurants {
  background: #F6F6F6;
}
.restaurants h2 {
  padding: 3.125rem 0 1.25rem 1.25rem;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .restaurants h2 {
    padding: 1.875rem 0 1.25rem 1.25rem;
  }
}

.restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 3.125rem;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .restaurants-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1.4375rem 2.5rem;
    padding-bottom: 0.4375rem;
  }
}

.restaurants-card {
  position: relative;
  margin: auto;
  width: 92%;
  transition: transform 0.2s;
}
.restaurants-card:hover {
  transform: scale(1.01);
}
.restaurants-card__image {
  overflow: hidden;
  width: 100%;
  height: 10.875rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
}
.restaurants-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants-card__new-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 5rem;
  height: 1.8125rem;
  border-radius: 0.125rem;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.8125rem;
}
.restaurants-card__info {
  background-color: white;
  border-radius: 0 0 1.5625rem 1.5625rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.8125rem;
}
.restaurants-card__details {
  display: flex;
  flex-direction: column;
  margin-left: 1.15625rem;
  color: black;
  gap: 0.3125rem;
}
.restaurants-card__details h3 {
  font-size: 1.125rem;
}
.restaurants-card__details p {
  font-size: 1.0625rem;
  font-weight: 300;
}
.restaurants-card__favorite-button {
  border: none;
  background: none;
  position: relative;
  bottom: 3.4375rem;
  left: 86%;
  cursor: pointer;
}
.restaurants-card__favorite-button--heart {
  transition: opacity 0.3s ease-in-out;
}
.restaurants-card__favorite-button--new-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s linear;
}
.restaurants-card__favorite-button--new-icon:hover {
  opacity: 1;
  top: 0;
  animation: appearFromBottom 0.3s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner img {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
}

.restaurant {
  max-width: 1055px;
  margin: 0 auto;
  position: relative;
  margin: -3.0625rem auto 0 auto;
}
.restaurant__info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2.5rem 0;
  gap: 1.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #F6F6F6;
}
.restaurant__info h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
}
.restaurant__favorite-button {
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
}
.restaurant__favorite-button--heart {
  transition: opacity 0.3s ease-in-out;
}
.restaurant__favorite-button--new-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s linear;
}
.restaurant__favorite-button--new-icon:hover {
  opacity: 1;
  top: 0;
  animation: appearFromBottom 0.3s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__menu {
  padding: 0 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background: #F6F6F6;
}
.restaurant__category {
  max-width: 634px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.restaurant__category-title {
  height: 1.6875rem;
}
.restaurant__category-title h2 {
  position: relative;
  font-size: 1em;
  font-weight: 300;
}
.restaurant__category-title h2::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 2.5rem;
  height: 0.1875rem;
  position: relative;
  top: 0.3125rem;
  left: 0;
}
.restaurant__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 4.3125rem;
  background: #FFF;
  border: none;
  border-radius: 0.9375rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
}
.restaurant__item:hover .restaurant__add-selection {
  margin-right: 0;
}
.restaurant__item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0 0 0.9375rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__item-info h3 {
  padding: 0.9375rem 0 0.3125rem 0;
  font-size: 1.125rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__item-info p {
  padding: 0 0 0.9375rem 0;
  font-size: 0.9375rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__item-price {
  display: flex;
  align-items: flex-end;
  font-size: 1.125rem;
  margin: 0 0.9375rem 0.75rem 0;
}
.restaurant__add-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #99E2D0;
  width: 3.75rem;
  margin-right: -3.75rem;
  border-radius: 0 0.9375rem 0.9375rem 0;
  transition: all 0.5s;
  color: white;
  font-size: 1.5rem;
}
.restaurant__order {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.restaurant__order-button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.5625rem;
  padding: 0.8125rem 1rem;
  height: 3.125rem;
  color: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
  transition: background-color 0.7s, box-shadow 0.7s;
  width: 11.625rem;
}
.restaurant__order-button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.45);
}/*# sourceMappingURL=main.css.map */