@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Shrikhand&display=swap");
@keyframes appearFromBottom {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0 13px 0;
}
.header__logo {
  width: 200px;
  height: 30px;
  padding: 0px 19px 0px 16px;
}
.header__nav {
  position: absolute;
  left: 17px;
}
.header__nav i {
  color: black;
  font-size: 25px;
}

.restaurant-card__favorite-button {
  border: none;
  background: none;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__logo img {
  width: 137px;
  height: 27px;
  filter: brightness(0) invert(1);
}
.footer__links {
  margin-top: 16px;
}
.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__item a {
  display: flex;
  color: white;
  align-items: center;
}
.footer__icon {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  font-size: 0.9em;
}

.location_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  background-color: #e7e7e7;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.explorer-restaurants {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #F6F6F6;
}
.explorer-restaurants__title {
  padding: 30px 58px 10px 42px;
}
.explorer-restaurants__text {
  padding: 0 34px 0 26px;
  font-size: 1.125em;
  font-weight: 300;
}
.explorer-restaurants__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  padding: 13px 16px;
  height: 50px;
  color: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  width: 218px;
  margin: 20px 0 50px 0;
}
.explorer-restaurants__btn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 0.9s;
}

.functioning h2 {
  margin: 48px 0 26px 20px;
}
.functioning__steps {
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  margin-bottom: 68px;
}
.functioning__cards {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  margin: 0 20px 0 32.5px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.functioning__cards--number {
  font-size: 24px;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 14px;
}
.functioning__cards--icon {
  margin-left: 34.47px;
  color: #7E7E7E;
  font-size: 1.2em;
}
.functioning__cards--icolor {
  color: #9356DC;
}
.functioning__cards p {
  margin: 28.59px 38px 28.12px 27px;
}

.restaurants {
  background: #F6F6F6;
}
.restaurants h2 {
  padding: 54px 0px 20px 20px;
}

.restaurants-cards {
  padding-bottom: 50px;
}

.restaurants-card {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin: auto;
  width: 92%;
  padding-bottom: 18px;
}
.restaurants-card__image {
  overflow: hidden;
  width: 100%;
  height: 160px;
  border-radius: 25px 25px 0 0;
}
.restaurants-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants-card__new-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.875em;
}
.restaurants-card__info {
  background-color: white;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.restaurants-card__details {
  margin-left: 13px;
  color: black;
}
.restaurants-card__details h3 {
  font-size: 1.125em;
}
.restaurants-card__details p {
  font-size: 1.0625em;
  font-weight: 300;
}
.restaurants-card__favorite-button {
  border: none;
  background: none;
  position: absolute;
  top: 71%;
  left: 85%;
  cursor: pointer;
}
.restaurants-card__favorite-button--heart {
  transition: opacity 0.3s ease-in-out;
  padding: 0 24px 0 0;
}
.restaurants-card__favorite-button--heart:hover {
  opacity: 0;
}
.restaurants-card__favorite-button--new-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear, transform 2s linear;
  padding: 0 24px 0 0;
}
.restaurants-card__favorite-button--new-icon:hover {
  opacity: 1;
  top: 0;
  animation: appearFromBottom 0.5s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  background: #F6F6F6;
}

.banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.restaurant {
  position: relative;
  border-radius: 40px 40px 0px 0px;
  top: -49px;
  background-color: #F6F6F6;
}
.restaurant__info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 40px 0;
  gap: 24px;
}
.restaurant__info h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75em;
}
.restaurant__favorite-button {
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
}
.restaurant__favorite-button--heart {
  transition: opacity 0.3s ease-in-out;
  padding: 0 24px 0 0;
}
.restaurant__favorite-button--heart:hover {
  opacity: 0;
}
.restaurant__favorite-button--new-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear, transform 2s linear;
  padding: 0 24px 0 0;
}
.restaurant__favorite-button--new-icon:hover {
  opacity: 1;
  top: 0;
  animation: appearFromBottom 0.5s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__menu {
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.restaurant__category {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.restaurant__category-title {
  height: 27px;
}
.restaurant__category-title h2 {
  position: relative;
  font-size: 1em;
  font-weight: 300;
}
.restaurant__category-title h2::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  position: relative;
  top: 5px;
  left: 0;
}
.restaurant__item {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 15px;
  background: #FFF;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__item-info h3 {
  font-size: 1.125em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__item-info p {
  font-size: 0.9375em;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__item-price {
  display: flex;
  align-items: flex-end;
  font-size: 0.9375em;
}
.restaurant__order {
  display: flex;
  text-align: center;
  justify-content: center;
}
.restaurant__order-button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  padding: 13px 16px;
  height: 50px;
  color: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  width: 186px;
}
.restaurant__order-button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 0.9s;
}/*# sourceMappingURL=main.css.map */