$color-main:#9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$color-bg-grey: #F6F6F6;
$color-white: #FFF;

$main-gradient: linear-gradient($color-secondary, $color-main);

$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
);

