.footer {
    background-color: #353535;
    padding: 22px 25px;
    @media screen and (min-width: map-get($breakpoints, desktop)) { 
        padding: 30px 25px;
    }           
    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media screen and (min-width: map-get($breakpoints, desktop)) { 
            flex-direction: row-reverse; 
        }           
    }
    &__logo {
        img {
            width: 137px;
            height: 27px;
            filter: brightness(0) invert(1)
        }
    }
    &__links {
        display: flex;
        @media screen and (min-width: map-get($breakpoints, desktop)) { 
            align-items: center;
        } 
    }
    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            flex-direction: row;
            gap: 15px;
        } 
    }    
    &__item {
        a {
            display: flex;            
            color: white;
            align-items: center;
        }
        &:hover {
            text-decoration: underline;
            color: white;
        }
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            &:nth-child(3) {
                margin-left: 20px; /* Ajoutez la marge souhaitée entre "Devenir partenaire" et "Mentions légales" */
            }
        }
    }
    &__icon {
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
        font-size: 0.9em;
    }
}