.footer {
    background-color: #353535;
    padding: 22px 25px;
    @media screen and (min-width: map-get($breakpoints, desktop)) {        
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 30px 25px;
        height: 114px;       
    }           
    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media screen and (min-width: map-get($breakpoints, desktop)) { 
            flex-direction: row-reverse;
        }           
    }
    &__logo {
        width: 137px;
        height: 27px;
        & img {        
        width: 105px;
        height: 22px;
        filter: brightness(0) invert(1)        
        }
    }
    &__links {
        display: flex;
        @media screen and (min-width: map-get($breakpoints, desktop)) { 
            align-items: center;
        } 
    }
    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            flex-direction: row;
            gap: 15px;
        } 
    }    
    &__item {
        &:nth-child(4) {
            width: 130px;
        }
        a {
            display: flex;            
            color: white;
            align-items: center;
        }
        &:hover {
            text-decoration: underline;
            color: white;
        }
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            &:nth-child(3) {
            margin-left: 20px;
            }
        }
    }
    &__icon {
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
        font-size: 0.9em;
    }
}