.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0 13px 0;
        &__logo {                       
            width: 200px;
            height: 30px;   
            padding: 0px 19px 0px 16px;                             
        }
        &__nav {
            position: absolute;
            left: 17px;
           & i {
            color: black;
            font-size: 25px;
            }
        }
}