.location_zone {     
    display: flex;   
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #e7e7e7;
    gap: 17px;
}

.explorer-restaurants{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: $color-bg-grey;
        &__title {
            padding: 30px 58px 10px 42px;
        }
        &__text {
            padding: 0 34px 0 26px;
            font-size: $font-size-large;
            font-weight: $font-weight-light;
        }
        &__btn {
            @include btn-order;
            width: 218px;
            margin: 20px 0 50px 0;
            &:hover {
                @include btn-hover;
                @include shadowbtn;
            }
        }       
}


.functioning {
    h2 {
    margin: 48px 0 26px 20px;
    }
    &__steps {
        display: flex;
        flex-direction: column;
        gap: 24.92px;
        margin-bottom: 68px;
    }
    &__cards {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 20px;
        margin: 0 20px 0 32.5px;
        background-color: #F6F6F6;
        @include shadowlight;
        position: relative;        
        &--number {
            font-size: 24px;
            margin-right: 10px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);	
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-main;
            color: white;
            border-radius: 50%;
            font-size: 14px;
        }       
        &--icon {
            margin-left: 34.47px;
            color: #7E7E7E;
            font-size: 1.2em;
        }
        &--icolor {
            color: $color-main;
        }        
        p {
            margin: 28.59px 38px 28.12px 27px;
        }     
    }
}

.restaurants {
    background: $color-bg-grey;
    h2 {
        padding: 54px 0px 20px 20px;
    }
}
.restaurants-cards {
    padding-bottom: 50px;
}

.restaurants-card {
    display: grid;
    grid-template-columns: 1fr;    
    position: relative;
    margin: auto;
    width: 92%;
    padding-bottom: 18px;
    &__image {
        overflow: hidden;
        width: 100%;
        height: 160px;
        border-radius: 25px 25px 0 0;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__new-label {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 15px;
        right: 15px;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        background-color: $color-tertiaire;
        color: #008766;
        font-size: $font-size-small;
    }
    &__info {
        background-color: white;
        border-radius: 0 0 25px 25px;
        @include shadowlight;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 72px;
    }
    &__details {
        margin-left: 13px;
        color: black;
        h3 {
            font-size: $font-size-large;
        }
        p {
            font-size: $font-size-medium-plus;
            font-weight: $font-weight-light;
        }
    }
    &__favorite-button {
        @include btn-heart;
        margin-right: 33px;
        color: black;   
    }
    &__new-icon {
        display: none;
    }      
    
}
