.location_zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    gap: 1.0625rem;
    background-color: #e7e7e7;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.explorer-restaurants {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: $color-bg-grey;
    &__title {
        padding: 1.875rem 3.625rem 0.625rem 2.625rem;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            font-size: 2.5rem;
        }
    }
    &__text {
        padding: 0 2.125rem 0 1.625rem;
        font-size: $font-size-large;
        font-weight: $font-weight-light;
    }
    &__btn {
        @include btn-order;
        width: 13.625rem;
        margin: 1.25rem 0 3.125rem 0;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            margin: 1.125rem 0 1.875rem 0;
        }
        &:hover {
            @include btn-hover;
        }
    }
}

.functioning {
    @include center-max-width-desktop;
    padding: 0 1.25rem;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        margin: 3.125rem auto;
    }
    h2 {
        margin: 3rem 0 1.625rem 0;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            margin-bottom: 1.5625rem;
        }
    }
    &__steps {
        display: flex;
        flex-direction: column;
        gap: 1.563rem;
        margin-bottom: 4.25rem;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 3.125rem;
            gap: 2.28125rem;
        }
    }
    &__cards {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 1.25rem;
        margin-left: 0.78125rem;
        background-color: $color-bg-grey;
        @include shadowlight;
        position: relative;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            margin: 0;
        }
        &--number {
            font-size: $font-size-extra-large;
            margin-right: 0.625rem;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-main;
            color: white;
            border-radius: 50%;
            font-size: $font-size-small;
        }
        &--icon {
            margin-left: 2.154375rem;
            color: #7E7E7E;
            font-size: 1.2rem;
        }
        &--icolor {
            color: $color-main;
        }
        p {
            margin: 1.625rem 2.375rem 1.625rem 1.6875rem;
        }
    }
}

.restaurants {
    background: $color-bg-grey;
    h2 {
        padding: 3.125rem 0 1.25rem 1.25rem;
        @include center-max-width-desktop;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            padding: 1.875rem 0 1.25rem 1.25rem;
        }
    }
}

.restaurants-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 3.125rem;
    @include center-max-width-desktop;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        grid-template-columns: 1fr 1fr;
        gap: 1.4375rem 2.5rem;
        padding-bottom: 0.4375rem;
    }
}

.restaurants-card {
    position: relative;
    margin: auto;
    width: 92%;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.01);
    }
    &__image {
        overflow: hidden;
        width: 100%;
        height: 10.875rem;
        border-radius: 1.5625rem 1.5625rem 0 0;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__new-label {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0.9375rem;
        right: 0.9375rem;
        width: 5rem;
        height: 1.8125rem;
        border-radius: 0.125rem;
        background-color: $color-tertiaire;
        color: #008766;
        font-size: 0.8125rem;
    }
    &__info {
        background-color: white;
        border-radius: 0 0 1.5625rem 1.5625rem;
        @include shadowlight;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4.8125rem;
    }
    &__details {
        display: flex;
        flex-direction: column;
        margin-left: 1.15625rem;
        color: black;
        gap: 0.3125rem;
        h3 {
            font-size: $font-size-large;
        }
        p {
            font-size: $font-size-medium-plus;
            font-weight: $font-weight-light;
        }
    }
    &__favorite-button {
        @include btn-heart;
        position: relative;
        bottom: 3.4375rem;
        left: 86%;
        cursor: pointer;
        &--heart-fill {
            @include heart-filled;
        }
    }
}