.main {
    background: $color-bg-grey;
}
.banner img {
        width: 100%;
        height: 275px;
        object-fit: cover;
}

.restaurant {
    position: relative;
    border-radius: 40px 40px 0px 0px;
    top: -49px;
    background-color: $color-bg-grey;
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px 0 40px 0;
        gap: 24px;
        & h1 {
            font-family: "Shrikhand", sans-serif;
            font-size: $font-size-extra-extra-large;
        }       
    }
    &__favorite-button {
        @include btn-heart;
        position: relative;      
        cursor: pointer;
        &--heart {
            @include heart-empty;
        }
        &--new-icon {
            @include heart-filled;
        }
    }
    &__menu {
        padding: 0 13px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__category {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &-title {
            height: 27px;             
            h2 {
                position: relative;
                font-size: 1em;
                font-weight: $font-weight-light;
                &::after {
                    content: "";
                    display: block;
                    background-color: $color-tertiaire;
                    width: 40px;
                    height: 3px;
                    position: relative;
                    top: 5px; 
                    left: 0;
                }
            }        
        }
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;        
        height: 69px;
        background: $color-white;
        border: none;
        border-radius: 15px;               
        @include shadowlight;
        overflow: hidden;
        cursor: pointer; 
        &:hover .restaurant__add-selection {
            margin-right: 0px;
        }
        &-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 0 0 15px;
            gap: 5px;
            @include truncate-text;
            & h3 {
            padding: 15px 0 0 0;
            font-size: $font-size-large;
            @include truncate-text;
            }
            & p {
            padding: 0 15px 0 0;
            font-size: $font-size-small-plus;
            font-weight: $font-weight-light;
            @include truncate-text;
            }      
        }
    }
    &__item-price {
        display: flex;
        align-items: flex-end;
        font-size: $font-size-small-plus;
        margin: 15px;
    }
    &__add-selection {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: $color-tertiaire;
        width: 60px;
        margin-right: -60px;
        border-radius: 0px 15px 15px 0px;
        transition: all 0.5s;
        color: white;
        font-size: 25px;      
    }
    &__order {
        display: flex;
        text-align: center;
        justify-content: center;
        &-button {           
            @include btn-order;
            width: 186px;
            &:hover {
                @include btn-hover;
            }    
        }
    }   
}