.banner img {
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
}

.restaurant {
    max-width: 1055px;
    margin: 0 auto;
    position: relative;
    margin: -3.0625rem auto 0 auto;    
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0 2.5rem 0;
        gap: 1.5rem;
        border-radius: 2.5rem 2.5rem 0 0;
        background-color: $color-bg-grey;
        & h1 {
            font-family: "Shrikhand", sans-serif;
            font-size: $font-size-extra-extra-large;
        }       
    }
    &__favorite-button {
        @include btn-heart;
        position: relative;      
        cursor: pointer;
        &--heart {
            @include heart-empty;
        }
        &--new-icon {
            @include heart-filled;
        }
    }
    &__menu {
        padding: 0 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        background: $color-bg-grey;
    }
    &__category {
        max-width: 634px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        &-title {
            height: 1.6875rem;             
            h2 {
                position: relative;
                font-size: 1em;
                font-weight: $font-weight-light;
                &::after {
                    content: "";
                    display: block;
                    background-color: $color-tertiaire;
                    width: 2.5rem;
                    height: 0.1875rem;
                    position: relative;
                    top: 0.3125rem; 
                    left: 0;
                }
            }        
        }
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;        
        height: 4.3125rem;
        background: $color-white;
        border: none;
        border-radius: 0.9375rem;               
        @include shadowlight;
        overflow: hidden;
        cursor: pointer; 
        &:hover .restaurant__add-selection {
            margin-right: 0;
        }
        &-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 0 0 0.9375rem;
            gap: 0.3125rem;
            @include truncate-text;
            & h3 {
                padding: 0.9375rem 0 0 0;
                font-size: $font-size-large;
                @include truncate-text;
            }
            & p {
                padding: 0 0 0.9375rem 0;
                font-size: $font-size-small-plus;
                font-weight: $font-weight-light;
                @include truncate-text;
            }      
        }
    }
    &__item-price {
        display: flex;
        align-items: flex-end;
        font-size: $font-size-large;
        margin: 0 0.9375rem 0.75rem 0;
    }
    &__add-selection {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: $color-tertiaire;
        width: 3.75rem;
        margin-right: -3.75rem;
        border-radius: 0 0.9375rem 0.9375rem 0;
        transition: all 0.5s;
        color: white;
        font-size: 2.5rem;      
    }
    &__order {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 2.5rem;
        cursor: pointer;
        &-button {           
            @include btn-order;
            width: 11.625rem;
            &:hover {
                @include btn-hover;
            }    
        }
    }   
}
